<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.ApiMapper">
<insert id="insertApi" parameterType="ApiDTO">
	INSERT INTO DOC_HOSP
	(
		yadmNm,
		clCd,
		clCdNm,
		sidoCd,
		sidoCdNm,
		sgguCd,
		sgguCdNm,
		emdongNm,
		postNo,
		addr,
		telno,
		hospUrl,
		estbDd,
		drTotCnt,
		gdrCnt,
		intnCnt,
		resdntCnt,
		sdrCnt,
		xPos,
		yPos,
		REGDATE,
		REGNO
	)
	VALUES
	(
		#{yadmNm},
	    #{clCd},
	    #{clCdNm},
	    #{sidoCd},
	    #{sidoCdNm},
	    #{sgguCd},
	    #{sgguCdNm},
	    #{emdongNm},
	    #{postNo},
	    #{addr},
	    #{telno},
	    #{hospUrl},
	    #{estbDd},
	    #{drTotCnt},
	    #{gdrCnt},
	    #{intnCnt},
	    #{resdntCnt},
	    #{sdrCnt},
	    #{XPos},
	    #{YPos},
	    NOW(),
	    #{hosp_no}
	)
</insert>
</mapper>